/* Hijack redactor.css for ContentBlocks tweaks */

/* Prevent map field from becoming unusable in smaller columns */
.contentblocks-layout {
    container-type: inline-size;
}
@container (width < 800px) {
    .contentblocks-layout .contentblocks-field-outer[data-field*="100002"] .contentblocks-field-outer {
        width: 100% !important;
    }
    #contentblocks .contentblocks-layout .contentblocks-field-outer[data-field*="100005"],
    #contentblocks .contentblocks-layout .contentblocks-field-outer[data-field*="100006"],
    #contentblocks .contentblocks-layout .contentblocks-field-outer[data-field*="100007"] {
        width: 33.33333% !important;
    }
}
