<div class="ui stackable middle aligned wide grid">
    <div class="five wide column">
        [[$imgOverviewLinkJSON?
            &uid=`[[+unique_idx]]`
            &classes=``
        ]]
    </div>

    <div class="eleven wide column">
        Forest data..
    </div>
</div>
