<thead>
<tr>
    <th>[[%forestbrain.forest.heading]]</th>
    <th>[[%forestbrain.forest.trees]]</th>
    <th>[[%forestbrain.forest.person]]</th>
    <th>[[%forestbrain.forest.admin]]</th>
</tr>
</thead>
